*{
    margin: 1.5px;
    padding: 1.5px;
}

body {
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
  }



.grid div {
    border: 1px solid red;
}

.grid{
    display: grid;
   grid-template-columns: repeat(3, 5fr);
   gap: 5px;
   grid-template-rows: repeat(7, 200px);
   grid-auto-rows: minmax(100px, auto);
   align-items: stretch;
}

h1.logo{
    color: white;
    height: 500px;
    width: 800px;
    justify-content: center;
    align-content: center;
    align-self: center;
}

 header{
    background: red;
    grid-column: 1/3;
    grid-row: 1/1;
}

nav {
    background:red;
    grid-column: 3/3;
}

ul li{
    display: flex;
   align-content: space-between;
   justify-content: center;
}

nav ul li{
    display: inline-flex;
    margin: 35px;
    font-size: large;
    font-style: oblique;
    justify-items: stretch;
}


a:hover{
    color: black;
}

a{
    text-decoration: none;
    color: antiquewhite;
    letter-spacing: 5.5px;
    
    width: 100px;
}

.element2{
    background: lightgray;
    grid-column: 1/3;
    align-self: stretch;
justify-self: stretch;
}

.element3{
    background: lightgray;
    grid-column: 1/3;
    align-self: stretch;
justify-self: stretch;
}
/*aside*/
.element4{
    background: black;
    grid-column: 3/3;
    grid-row: 2/6;
    align-self: stretch;
justify-self: stretch;
}

.manga4{
    height: 800px;
    width: 800px;
}

.manga2{
    height: 250px;
    width: 680px;
}

.element5{
    background: lightgray;
    grid-column: 1/3;
    align-self: stretch;
justify-self: stretch;
}

.element6{
    background: lightgray;
grid-column: 1/3;
align-self: stretch;
justify-self: stretch;
}

.element7{
    background: red;
    grid-column: 1/4;
    grid-row: 7/7;
}

.element7 footer{
    height: 100px;
    margin-top: 3%;
    width: 100%;
display: flex;
justify-items: center;
justify-content: center;
}

h3:hover{
    color: red;
}

.redes:hover{
    color: white;
    
}

h5{
    display: flex;
    align-items: center;
}

/*Mangas cajas*/



section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}

article {
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manga1{
    height: 350px;
    width: 250px;
    
}

/*subscripcion*/



fieldset{
    font-style: italic;
    font-size: medium;
    font-family: fantasy;
    color: rgb(37, 36, 48);
    margin-top: 1px;
    line-height: 60px;
    letter-spacing: 1px;
    
}






fieldset{
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
}

form{
    
    height: 650px;
    width: 1100px;
}

th{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: 300;
    font-size: larger;
    background-color: azure;
    
    
}

td{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 300;
    font-style: italic;
    color: crimson;
}

.manga3{
    height: 800px;
    width: 700px;
}

.tabla{
    background: white;
}

